/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
@import "crunchy-variables.scss";

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/lib/theme-chalk/display";

@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog__body {
  word-break: break-word !important;
}
